*{
    font-family: 'Roboto', sans-serif;
}
.body-container{
    background-color: #42A5F5;


}
.box {
    padding:0;
    margin-top: 12%;
    margin-bottom: 12%;

}
.currency{
   display: inline-block;
    width:100%;
   background-color: #ffffff;
    border-radius:4px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.currency >.dropdown{
    float:right;
}
.text{
    float:left;
    background-color: #fff;
    font-size:22px;
    padding:18px;
    color:#546E7A!important;
    width:70%;
    font-weight: bold;
    border-left:none;
    border-top:none;
    border-bottom: none;
    border-top-left-radius:6px;
    border-bottom-left-radius: 6px;

}

.dropdown{

    border-left:1px solid #e0e0e0;
    border-top-right-radius:4px;
    border-bottom-right-radius: 4px;
    width:30%;





}
.btn{
    background-color: #fff;
    padding: 19px!important;
    font-size:21px!important;
    font-weight: bold!important;
    color:#546E7A!important;
    width:100%;




}
.list-group{
list-style: none;
    margin-top: 10px;
    box-shadow: 0 7px 8px  rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.list-item:first-child {
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
}
.list-item:last-child {
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.list-item{
    padding: 22px!important;
    background-color: #455A64!important;
    color:#ECEFF1;
    border-top:none!important;
    border-right: none!important;
    border-left:none!important;
    border-bottom: 1px solid #546E7A;
    font-weight: bold;
    font-size: 16px;
}
.list-item span{
    float:right;
    font-weight: normal!important;
    color:#d6d6d6!important;
}

.list-item:last-child {
    border-bottom: 0;
}

/*For mobile-devices*/
@media (max-width:1024px){
    .box {
        padding:0;
        margin-top: 42%;
        margin-bottom: 42%;

    }
}
